@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* Layout
-------------------------------------------------- */

body {
  position: relative;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

/* Header
------------------------- */
.jumbotron {
  border-radius: 0px;
  background: #5fb3ce;
  margin-bottom: 0;
}

.jumbotron {
  position: relative;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #00699e; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #000c12 0%, #006ea5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#000c12), color-stop(100%,#006ea5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #000c12 0%,#006ea5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #000c12 0%,#006ea5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #000c12 0%,#006ea5 100%); /* IE10+ */
  background: linear-gradient(45deg,  #000c12 0%,#006ea5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000c12', endColorstr='#006ea5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Right column
------------------------- */
.row {
  margin: 0;
}

section {
  padding: 10px 0;
}

section > .page-header,
section > .lead {
  color: #00537d;
}
section > ul li {
  margin-bottom: 5px;
}

/* Separators (hr) */
.separator {
  margin: 40px 0 39px;
}

h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
}

h2 {
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  line-height: 40px;
  font-weight: normal;
  color: #454545;
}

.page-header {
  padding-bottom: 9px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #dddddd;
}

p {
  font-size: 16px;
}

/* Left column
------------------------- */
#nav-menu {
  margin: 20px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

#nav-menu > li {
  margin: 0;
}

#nav-menu > li > a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
  position: relative;
}
#nav-menu > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
#nav-menu > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
#nav-menu > li.active > a {
  position: relative;
  z-index: 2;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  color: #fff;
  background-color: #006EA5;
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
#nav-menu .glyphicon {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
#nav-menu > li > a:hover {
  background-color: #f5f5f5;
}
#nav-menu > li.active > a:hover {
  background-color: #006EA5;
}
#nav-menu a:hover .glyphicon {
  opacity: .5;
}
#nav-menu .active .glyphicon,
#nav-menu .active a:hover .glyphicon {
  /*background-image: url(../img/glyphicons-halflings-white.png);*/
  opacity: 1;
}

.affix-top {
  position: relative;
}

.affix,
.affix-top {
  top: 0px;
}

#nav-menu {
  width: 100%;
}

.affix-bottom {
  position: absolute;
}

/* Footer
------------------------- */
.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  margin-right: 10px;
}

/* Responsive
-------------------------------------------------- */

/* Phone to tablet
------------------------- */
@media (max-width: 768px) {
  #nav-menu {
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  body {
    padding-top: 0;
  }

  .jumbotron {
    margin-top: -20px; /* Offset bottom margin on .navbar */
  }

  .sidebar.affix {
    top: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-menu {
    max-width: 150px;
  }
}

/* Desktop to large desktop
------------------------- */
@media (min-width: 992px) and (max-width: 1199px) {
  #nav-menu {
    max-width: 200px;
  }
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  #nav-menu {
    max-width: 250px;
  }
}

/* Content specific
-------------------------------------------------- */

/* Home
------------------------- */
#home {
  padding: 30px;
  margin-bottom: 0px;
  background-color: #EEE;
  border-radius: 6px;
  margin-top: 20px;
}

#home .photo {
  float: right;
  max-width: 100%;
  margin-bottom: 25px;
  padding: 4px;
  background: #FFF none repeat scroll 0% 0%;
  border: 1px solid #DDD;
  border-radius: 14px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.055);
  transition: all 0.2s ease-in-out 0s;
}

#home .info,
#home .contact {
  list-style-type: none;
  padding-left: 10px;
}

#home li {
  font-size: 16px;
  line-height: 1.5;
  color: inherit;
  margin-left: -10px;
}

#home li.name {
  font-size: 25px;
}

#home li.name-alt {
  font-weight: bold;
}

#home .glyphicon {
  font-size: 12px;
  line-height: 16px;
}

/* About
------------------------- */
#about .areas {
  list-style-type: none;
  padding-left: 0;
}

#about .areas blockquote {
  font-size: 14px;
  font-family: "Raleway",sans-serif;
}

/* Projects
------------------------- */
#projects .item {
  display: table;
}

#projects .image {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}

#projects .item .image img {
  width: 120px;
  background: #dedede;
  float: left;
}

#projects .text {
  display: table-cell;
}

#projects .text .links {
  list-style-type: none;
  padding-left: 0;
}

#projects .text .links li {
  font-size: 15px;
  font-weight: 600;
  display: inline;
  padding-right: 10px;
}

#projects .text .links a {
  color: #333333;
}

#projects .text .links a:hover {
  color: #0088cc;
  text-decoration: none;
}

@media (max-width:768px) {
  #projects .item,
  #projects .item .image,
  #projects .item .text {
    display: block;
    width: 100%;
  }

  #projects .item .image img {
    float: none;
  }
}

/* Resources
------------------------- */
#resources .links {
  list-style-type: none;
  padding-left: 30px;
}

#resources .links li {
  font-size: 14px;
  display: inline;
  padding-right: 10px;
}

#resources .links a {
  color: #333333;
}

#resources .links a:hover {
  color: #0088cc;
  text-decoration: none;
}

/* Contact
------------------------- */
#contact .info {
  list-style-type: none;
  padding-left: 0;
}